@font-face {
  font-family: "Rubik";
  src: url("/assets/fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("/assets/fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("/assets/fonts/Rubik-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

:root {
  --slate-blue: #313e51;
  --steel-blue: #3c4c67;
  --purple: #a729f5;
  --light-purple: #ffe9ff;
  --white: #fff;
  --cloud-white: #f4f6fa;
  --shadow-blue: #626c7f;
  --green: #26d782;
  --red: #ee5454;
  --orange: #f5a623;
  --yellow: #f8e71c;

  --html-bg-color: #fff1e9;
  --css-bg-color: #e0fdef;
  --javascript-bg-color: #ebf0ff;
  --bootstrap-bg-color: #f3e9ff;
}

/* Basic Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  padding: 30px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150vh;
  background-color: var(--cloud-white);
}

#app {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 500px;
}

/* Clase del botón */
.btn {
  background-color: var(--purple);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #C74CFF;
}


