@font-face {
  font-family: "Rubik";
  src: url("/assets/fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("/assets/fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("/assets/fonts/Rubik-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

:root {
  --slate-blue: #313e51;
  --steel-blue: #3c4c67;
  --purple: #a729f5;
  --light-purple: #ffe9ff;
  --white: #fff;
  --cloud-white: #f4f6fa;
  --shadow-blue: #626c7f;
  --green: #26d782;
  --red: #ee5454;
  --orange: #f5a623;
  --yellow: #f8e71c;

  --html-bg-color: #fff1e9;
  --css-bg-color: #e0fdef;
  --javascript-bg-color: #ebf0ff;
  --bootstrap-bg-color: #f3e9ff;
}

/* Basic Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body.light-mode {
  background-color: var(--cloud-white);
  background-image: url("/images/pattern-background-desktop-light.svg");
}

body.dark-mode {
  background-color: var(--slate-blue);
  background-image: url("/images/pattern-background-desktop-dark.svg");
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  padding: 2rem;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  max-width: 120rem;
}

.app-main {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  flex-grow: 1;
}

.main-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.questions-section {
  min-height: 100%;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  p {
    font-style: italic;
    font-size: 2rem;
    font-weight: 400;
  }

  .progress-bar {
    margin-top: auto;
  }
}

.quiz-started .questions-section {
  padding-bottom: 60px;
}

.light-mode .questions-section p {
  color: var(--shadow-blue);
}

.dark-mode .questions-section p {
  color: var(--cloud-white);
}

.answers-section {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (max-width: 1024px) {
  body {
    background-position: top left;
    background-size: 50%;
  }

  body.light-mode {
    background-image: url("/images/pattern-background-tablet-light.svg");
  }

  body.dark-mode {
    background-image: url("/images/pattern-background-tablet-dark.svg");
  }
}

@media (max-width: 768px) {
  body {
    background-size: cover;
  }

  body.light-mode {
    background-image: url("/images/pattern-background-mobile-light.svg");
  }

  body.dark-mode {
    background-image: url("/images/pattern-background-mobile-dark.svg");
  }

  .main-content {
    flex-direction: column;
  }
}
