.answer {
  list-style-type: none;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);

    .answer__option-letter {
      background-color: var(--bootstrap-bg-color);
      color: var(--purple);
    }
  }
}

.answer__option-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--cloud-white);
  color: var(--shadow-blue);
  min-width: 45px;
  min-height: 45px;
  font-size: 4rem;
  font-weight: 400;
}

.answer__btn {
  font-size: 1.8rem;
  height: 75px;
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  font-family: inherit;
  font-weight: bold;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;

  &:focus {
    box-shadow: var(--purple) 0px 1px 4px, var(--purple) 0px 0px 0px 3px;

    .answer__option-letter {
      background-color: var(--purple);
      color: var(--white);
    }
  }
}

.answer__btn.correct {
  box-shadow: var(--green) 0px 1px 4px, var(--green) 0px 0px 0px 3px;

  .answer__option-letter {
    background-color: var(--green);
    color: var(--white);
  }
}

.answer__btn.incorrect {
  box-shadow: var(--red) 0px 1px 4px, var(--red) 0px 0px 0px 3px;

  .answer__option-letter {
    background-color: var(--red);
    color: var(--white);
  }
}

.answer__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  img {
    display: block;
  }
}

.answer__option-text {
  font-size: 2rem;
  font-weight: 400;
}

.light-mode .answer__option-text {
  color: var(--slate-blue);
}

.dark-mode .answer__option-text {
  color: var(--white);
}

.light-mode .answer__btn {
  background-color: var(--white);
  color: var(--slate-blue);
}

.dark-mode .answer__btn {
  background-color: var(--steel-blue);
  color: var(--white);
}
