.btn {
  background-color: var(--purple);
  color: var(--white);
  font-size: 2rem;
  padding: 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;

  &:hover {
    background-color: #c74cff;
  }
}
