.quiz-topic {
  display: flex;
  align-items: center;
  gap: 25px;
  font-family: inherit;
  font-weight: bold;

  img {
    width: 35px;
  }
}

.quiz-topic__text {
  font-size: 2.6rem;
}

.light-mode .quiz-topic__text {
  color: var(--slate-blue);
}

.dark-mode .quiz-topic__text {
  color: var(--white);
}

@media (max-width: 600px) {
  .quiz-topic {
    gap: 10px;

    img {
      width: 25px;
    }
  }

  .quiz-topic__text {
    font-size: 1.8rem;
  }
}
