.quiz-heading {
  font-size: 6rem;
}

.light-mode .quiz-heading {
  color: var(--slate-blue);
}

.dark-mode .quiz-heading {
  color: var(--white);
}

.quiz-heading__normal {
  font-weight: 400;
  text-wrap: nowrap;
  display: block;
}

.quiz-heading__highlight {
  font-weight: bold;
  text-wrap: nowrap;
  display: block;
}

@media (max-width: 1024px) {
  .quiz-heading {
    font-size: 5rem;
  }
}

@media (max-width: 850px) {
  .quiz-heading {
    font-size: 4rem;
  }
}

