.quiz-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.light-mode {
  .quiz-result {
    background-color: var(--white);
  }

  .quiz-result__text {
    color: var(--shadow-blue);
  }
}

.dark-mode {
  .quiz-result {
    background-color: var(--steel-blue);
  }

  .quiz-result__text {
    color: var(--cloud-white);
  }
}

.quiz-result__text {
  font-size: 2.4rem;
  font-weight: 500;
}

@media (max-width: 500px) {
  .quiz-result {
    gap: 2rem;
    padding: 3rem;
  }
}
